div.sticky {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
  }
  
.icons-wrapper a{
  margin-right: 15px;
}
.copyright a {
  font-style:italic ;
  color: #212121;
  font-family: Arial;
}
div.carousel-item > h2,p {
  position: absolute;
}
.carousel-slider img {
  filter: brightness(40%);
  position: relative;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  }
  ::-webkit-scrollbar-track {
  background: #212121;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #7e7e7e;  
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background:#ff8a80;  

  }



  /* Slideshow*/
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-bottom: -6px;
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  font-family: Arial;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mySlides img {
  filter: brightness(30%);
  max-width: auto;
}

.email-img {
  background: url(images/email-cover.jpg);
}

/*Preloader*/
.preloader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #212121;
  width: 100vw;
  height: 100vh;
}
.preloader-wrapper {
  position: absolute;
  margin-left: 48%;
  margin-top: 50vh;
}
.preloader-wrapper:before, .preloader-wrapper:after {
  content: '';
  border: 1em solid #ff8a80;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.preloader-wrapper:before {
  animation-delay: .5s;
}
@keyframes preloader-wrapper{
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

